body {
	margin: 1%;
}

.screen {
	float: left;
	width: 44%;
}

.video {
	height: 90px;
}

.video img {
	height: 90px;
	width: 120px;
	vertical-align: top;
	margin: 1px;
}

.video video {
	height: 90px;
	margin: 1px;
	float: left;
}

.chat {
	clear: both;
	width: 100%;
	max-height: 150px;
	overflow: scroll;
}

.chat input {
	width: 400px;
	margin: 3px;
}

#workarea {
	clear: both;
	height: 340px;
}

#history {
	float: left;
	width: 30%;
	height: 100%;
	overflow: scroll;
}

#history td {
	min-width: 100px;
}

#history table {
	color: #aaa;
	background-color: #F8F8F8;
	max-height: 100%;
}

#minutes {
	float: left;
	width: 70%;
	height: 100%;
}

#minutes textarea {
	float: left;
	width: 50%;
	height: 100%;
	margin-bottom: 15px;
	display: block;
	color: #555;
	border-radius: 10px;
	padding: 10px;
	font-size: 14px;
	border-color: rgb(217,217,217);
	background-color: #fdfdfd;
}

#minutes div {
	float: left;
	width: 50%;
	height: 100%;
	overflow: scroll;
}

#system {
	clear: both;
}

.userarea {
	float: left;
	width: 130px;
	height: 90px;
}

.userarea span{
	position: absolute;
	margin: -2px;
	background-color: #555;
	color: #eee;
	padding: 2px;
	opacity: 0.8;
}

.userarea video{
	position: absolute;
}

.checkbox {
	width: 115px;
}

.checkbox input[type="checkbox"] {
	margin-left: 0px;
}

.input-group {
	margin: 4px;
	float: left;
}

.input-group input[type="text"] {
	width: 300px;
	margin-right: 8px;
}

.input-group button {
	margin-left: 2px;
}

.btn-group {
	float: left;
	margin: 4px;
}